<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="packages" />
  </config>
  <packageSources>
    <!-- remove any machine-wide sources with <clear/> -->
    <clear />
    <!-- also get packages from the NuGet Gallery -->
    <add key="NuGet" value="https://api.nuget.org/v3/index.json"/>
  </packageSources>
</configuration>