body {
  margin: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Font */

@font-face {
  font-family: "Open Sans";
  src: url(assets/fonts/open-sans/light/opensans-light-webfont.eot);
  src: url(assets/fonts/open-sans/light/opensans-light-webfontd41d.eot?#iefix)
      format("embedded-opentype"),
    url(assets/fonts/open-sans/light/opensans-light-webfont.woff) format("woff"),
    url(assets/fonts/open-sans/light/opensans-light-webfont.ttf)
      format("truetype"),
    url(assets/fonts/open-sans/light/opensans-light-webfont.svg#OpenSansLight)
      format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(assets/fonts/open-sans/light-italic/opensans-light-italic-webfont.eot);
  src: url(assets/fonts/open-sans/light-italic/opensans-light-italic-webfontd41d.eot?#iefix)
      format("embedded-opentype"),
    url(assets/fonts/open-sans/light-italic/opensans-light-italic-webfont.woff)
      format("woff"),
    url(assets/fonts/open-sans/light-italic/opensans-light-italic-webfont.ttf)
      format("truetype"),
    url(assets/fonts/open-sans/light-italic/opensans-light-italic-webfont.svg#OpenSansLightItalic)
      format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url(assets/fonts/open-sans/regular/opensans-regular-webfont.eot);
  src: url(assets/fonts/open-sans/regular/opensans-regular-webfontd41d.eot?#iefix)
      format("embedded-opentype"),
    url(assets/fonts/open-sans/regular/opensans-regular-webfont.woff)
      format("woff"),
    url(assets/fonts/open-sans/regular/opensans-regular-webfont.ttf)
      format("truetype"),
    url(assets/fonts/open-sans/regular/opensans-regular-webfont.svg#OpenSansRegular)
      format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(assets/fonts/open-sans/italic/opensans-italic-webfont.eot);
  src: url(assets/fonts/open-sans/italic/opensans-italic-webfontd41d.eot?#iefix)
      format("embedded-opentype"),
    url(assets/fonts/open-sans/italic/opensans-italic-webfont.woff)
      format("woff"),
    url(assets/fonts/open-sans/italic/opensans-italic-webfont.ttf)
      format("truetype"),
    url(assets/fonts/open-sans/italic/opensans-italic-webfont.svg#OpenSansItalic)
      format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url(assets/fonts/open-sans/semibold/opensans-semibold-webfont.eot);
  src: url(assets/fonts/open-sans/semibold/opensans-semibold-webfontd41d.eot?#iefix)
      format("embedded-opentype"),
    url(assets/fonts/open-sans/semibold/opensans-semibold-webfont.woff)
      format("woff"),
    url(assets/fonts/open-sans/semibold/opensans-semibold-webfont.ttf)
      format("truetype"),
    url(assets/fonts/open-sans/semibold/opensans-semibold-webfont.svg#OpenSansSemibold)
      format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(assets/fonts/open-sans/semibold-italic/opensans-semibold-italic-webfont.eot);
  src: url(assets/fonts/open-sans/semibold-italic/opensans-semibold-italic-webfontd41d.eot?#iefix)
      format("embedded-opentype"),
    url(assets/fonts/open-sans/semibold-italic/opensans-semibold-italic-webfont.woff)
      format("woff"),
    url(assets/fonts/open-sans/semibold-italic/opensans-semibold-italic-webfont.ttf)
      format("truetype"),
    url(assets/fonts/open-sans/semibold-italic/opensans-semibold-italic-webfont.svg#OpenSansSemiboldItalic)
      format("svg");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url(assets/fonts/open-sans/bold/opensans-bold-webfont.eot);
  src: url(assets/fonts/open-sans/bold/opensans-bold-webfontd41d.eot?#iefix)
      format("embedded-opentype"),
    url(assets/fonts/open-sans/bold/opensans-bold-webfont.woff) format("woff"),
    url(assets/fonts/open-sans/bold/opensans-bold-webfont.ttf)
      format("truetype"),
    url(assets/fonts/open-sans/bold/opensans-bold-webfont.svg#OpenSansBold)
      format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(assets/fonts/open-sans/bold-italic/opensans-bold-italic-webfont.eot);
  src: url(assets/fonts/open-sans/bold-italic/opensans-bold-italic-webfontd41d.eot?#iefix)
      format("embedded-opentype"),
    url(assets/fonts/open-sans/bold-italic/opensans-bold-italic-webfont.woff)
      format("woff"),
    url(assets/fonts/open-sans/bold-italic/opensans-bold-italic-webfont.ttf)
      format("truetype"),
    url(assets/fonts/open-sans/bold-italic/opensans-bold-italic-webfont.svg#OpenSansItalic)
      format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url(assets/fonts/open-sans/extrabold/opensans-extrabold-webfont.eot);
  src: url(assets/fonts/open-sans/extrabold/opensans-extrabold-webfontd41d.eot?#iefix)
      format("embedded-opentype"),
    url(assets/fonts/open-sans/extrabold/opensans-extrabold-webfont.woff)
      format("woff"),
    url(assets/fonts/open-sans/extrabold/opensans-extrabold-webfont.ttf)
      format("truetype"),
    url(assets/fonts/open-sans/extrabold/opensans-extrabold-webfont.svg#OpenSansExtrabold)
      format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(assets/fonts/open-sans/extrabold-italic/opensans-extrabold-italic-webfont.eot);
  src: url(assets/fonts/open-sans/extrabold-italic/opensans-extrabold-italic-webfontd41d.eot?#iefix)
      format("embedded-opentype"),
    url(assets/fonts/open-sans/extrabold-italic/opensans-extrabold-italic-webfont.woff)
      format("woff"),
    url(assets/fonts/open-sans/extrabold-italic/opensans-extrabold-italic-webfont.ttf)
      format("truetype"),
    url(assets/fonts/open-sans/extrabold-italic/opensans-extrabold-italic-webfont.svg#OpenSansExtraboldItalic)
      format("svg");
  font-weight: 800;
  font-style: italic;
}
